#app{
  font-family: sans-serif;
  width:320px;
  margin: 0 auto;
}
.timeline {
  padding:20px;
  li.past, li.future, li.current{
    display:none;
  }
  li{
    list-style-type: none;
    display:block;
    padding: 0;
    i{
      width:36px;
      height: 36px;
      font-size:18px;
      border: 4px solid #122244;
      border-radius: 50%;
      float: left;
      margin-right: 20px;
      line-height: 36px;
      &:before{
        margin-left: 9px;
      }
      &.fa-graduation-cap:before{
        margin-left: 2px; //icon is weirdly placed
      }
    }
    p.date{
      font-weight: bold;
      font-size: 20px;
      margin-bottom:2px;
      padding-top:5px;
    }
    p.name{
      margin-top: 0;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}
@media only screen and (min-width: 700px){
  #app{
    width:100%;
  }
  .timeline{
    text-align: center;
    li{
      display:inline-block!important;
      vertical-align: middle;
      background-position-y: top!important;
      i{
        margin: 0;
        float: none;
        &:before{
          margin-left: 0;
        }
      }
      p{
        display:none;
      }
      &.past{
        background-image: url("el.png");
      }
      &.future{
        background-image: url("elem.png");
      }
      &.current{
        background-image: url("curr.png");
        background-position: center;

      }
      &:first-child{
        background-image: url("first.png");
        background-position: left;
      }
      &:last-child.future{
        background-image: url("last.png");
        background-position: right;
      }

      &.pevent{
        border:none;
        border-radius: 50%;
        i{
          background-color: #56a0c6;
          color: #122244;
        }
      }
      &.event{
        border:none;
        border-radius: 50%;
        i{
          background-color: #122244;
          color: #ffffff;
        }
      }
      &.past, &.future, &.current {
        height:20px;
      }
    }
  }
}
