$back-color: #122244;
$light-progress: #88d2f1;
$dark-progress: #417a9f;
$light-hover: #8ddabb;
$dark-hover: #56b18c;
$event-icon-color: #ffffff;

@import 'tooltip';

#app{
  font-family: sans-serif, "OpenSans";
  width:320px;
  margin: 50px auto;
}
.timeline {
  padding:20px;
  li.past, li.future, li.current{
    display:none;
  }
  li{
    list-style-type: none;
    display:block;
    padding: 0;
    color: $back-color;
    &.pevent{

      i{
        color: $back-color;
        background: linear-gradient($light-progress, $dark-progress);
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
      }
    }
    &.event{
      i{
        color: $event-icon-color;
        background-color: $back-color;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }
    }
    i{
      width:36px;
      height: 36px;
      font-size:18px;
      border: 4px solid $back-color;
      border-radius: 50%;
      float: left;
      margin-right: 20px;
      line-height: 36px;
      &:before{
        margin-left: 9px;
      }
      &.fa-graduation-cap:before{
        margin-left: 7px; //icon is weirdly placed
      }
    }
    p.date{
      font-weight: bold;
      font-size: 14pt;
      margin-bottom:5px;
      padding-top:2px;
    }
    p.name{
      margin-top: 0;
      font-size: 10pt;
      text-transform: uppercase;
    }
  }
}
@media only screen and (min-width: 700px){
  #app{
    width:100%;
  }
  .timeline{
    text-align: center;
    li{
      display:inline-block!important;
      vertical-align: middle;
      background-position-y: top!important;
      position: relative;
      i{
        margin: 0;
        float: none;
        &:before{
          margin-left: 0;
        }
        &.fa-graduation-cap:before{
          margin-left: 2px; //icon is weirdly placed
        }
      }
      .date, .name{
        display:none;
      }
      &.past, &.future, &.current {
        height:19px;
      }
      &.past{
        background-image: url("el.png");
      }
      &.future{
        background-image: url("elem.png");
      }
      &.current{
        background-image: url("curr.png");
        background-position: center;
      }
      &:first-child{
        background-image: url("first.png");
        background-position: left;
        background-repeat: no-repeat;
        &:before{
          content: none;
        }
      }
      &:last-child.future{
        background-image: url("last.png");
        background-position: right;
        background-repeat: no-repeat;
      }
      &:last-child:after{
        opacity: 0;
      }
      &.pevent{
        border:none;
        border-radius: 50%;
        z-index:100;
        div{
          position: relative;
        }
        &:before{
          content:url("el.png");
          width: 20px;
          height:19px;
          position: relative;
          top:35px;
          left: -20px;
          z-index:-1;
        }
        &:after{
          content:url("elem.png");
          width: 10px;
          height:19px;
          position: relative;
          top:-32px;
          left:20px;
          z-index:-1;
        }
      }
      &.event{
        border:none;
        border-radius: 50%;
        top:12px;
        z-index:100;
        div{
          position: relative;
        }
        &:before{
          content:"";
          background-image: url("elem.png");
          display:block;
          width: 5px;
          height:19px;
          position: absolute;
          top:12px;
          left: -2px;
          z-index:-1;
        }
        &:after{
          content:url("elem.png");
          width: 10px;
          height:19px;
          position: relative;
          top:-32px;
          left:22px;
          z-index:-1;
        }
      }
      &.event, &.pevent{
        &:hover{
          i{
            color: $event-icon-color;
            background: linear-gradient($light-hover, $dark-hover);
            cursor: pointer;
          }
        }
      }
    }
  }
}
